
@model User

<form class="user" method="post" action="/Users/Update">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="name" name="name"
               placeholder="Kullanicinin Adini Giriniz." value="@Model.Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="surname" name="surname"
               placeholder="Kullanicinin Soyadini Giriniz." value="@Model.Surname">
    </div>
    <div class="form-group">
        <input type="email" class="form-control form-control-user"
               id="email" name="email" aria-describedby="emailHelp"
               placeholder="Kullanicinin Emailini Giriniz." value="@Model.Email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="phone" name="phone"
               placeholder="Kullanicinin Telefonunu Giriniz." value="@Model.Phone">
    </div>

    <hr>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        KAYDET
    </button>

</form>